
-var featureList=['Как найти точки роста и определить цели?', 'Как увеличить прибыль, управляя ценами?','Как избежать проблем на старте нового бизнеса?','Как не попасть в "черную дыру" затрат на продвижение?']
    
section.main.container
    .main__banner.row
        .row
            img.banner-octagon.col-2(src=require('./images/octagons.svg') alt='Узор')
            img.banner-topLine.col-sd-10.col-md-7(src=require('./images/top-line.svg') alt='Узор')
           
        .banner__info.col-md-6
            h1.banner__info-title Создаем решения
            h2.banner__info-subtitle Для роста бизнеса
            p.banner__info-text.col-12.col-sd-11.col-md-11 На основе анализа данных с алгоритмами реализации
            button.button.banner-button Обсудить проблему
            img.banner-arrows.col(src=require('./images/arrows.svg') alt='Узор')   
        .col-md-1
        img.banner__media.col-9.col-md-5(src=require('./images/cube.svg') alt='cube')
        .col-2 
        .col-7 
          img.banner-bottomLine.col-md-7(src=require('./images/bottom-line.svg') alt='Узор')   
          img.banner-bottomLine2.col-ls-6(src=require('./images/bottom-line2.svg') alt='узор')   
        .main__form
            .form.col-12
                form.col-12.form-inner(action="post") 
                    h2.form-title Оставьте заявку
                    input.form-input(type="text" name='first_name' placeholder='Ваше имя')
                    p.form-warning поле обязательно*
                    input.form-input(type="email" name='email' placeholder='Email')
                    p.form-warning поле обязательно*
                    textarea.form-input(rows="7" cols="50" placeholder='Пожалуйста опишите вашу проблему')
                    p.form-warning поле обязательно*
                    button.button.form-button Отправить
                    img.form-closeButton(src=require('./images/closeButton.svg') alt='Закрыть форму')
                    p.form-status Ваша заявка успешно отправлена!
    .main__feature.row 
        each item in featureList
            .main__feature-item.col-12.col-md-6
                .col-md-0.col-lg-2  
                +list(item,'main__feature-img col-md-1 col-lg-2',item,'main__feature-text col-md-10 col-lg-7')
                .col-md-0.col-lg-2  


    
